/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --background-color: #333333;
  --text-color: #ffffff;
}
